@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Paleta utilizada: #F2F2F2 / #BFBFBF / #8C8C8C / #595959 / #0D0D0D */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-size: auto 100vh; 
    font-family: Arial;
    height: 100vh;
}

header {
    background-color: #8C8C8C;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #595959;
    position: fixed;
    font-size: 18px;
    width: 100vw;
    top: 0;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
  }
  
.menu li {
    list-style: none; 
}

.menu a {
    display: block;
    padding: 20px 20px;
  }   
  
a {
    text-decoration: none;
    color: #BFBFBF;
}
  
a:hover {
    font-weight: bolder;
    color: #F2F2F2;
}
  
.site-subtitle, 
.site-title {
    text-align: center;
    color: #0D0D0D;
}

.site-title {
    font-size: 3em;
  }
  
.site-subtitle {
   font-style: italic;
}

.contato,
.portfolio{
    background-color: #BFBFBF;
    padding: 2em;
    min-height: 100vh;
}

.contato h2,
.portfolio h2{
  margin-top: 1em;
  font-size: 2em;
  margin-bottom: 1em;
}

.portfolio .grid{
  display: grid;
  gap: 2em;
  justify-content: center;
}

.portfolio figure{
  text-align: center;
  transition: transform 500ms;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  /* object-position: left bottom; */
  transition: transform 500ms;
}

figure:hover{
/* .img-portfolio:hover{ */
  transform: scale(1.3);
  /* filter: blur(4px); */
  /* background-repeat: no-repeat; */
}

.contato .grid{
  text-align: center;
}

.contato a{
  margin-right: 2em;
  color: #0D0D0D;
  font-size: 3em;
}

.contato a:hover{
  color: #595959;
  text-shadow: 1px 1px 10px red;
}










/* Media Querys*/

@media(min-width: 560px){
  .portfolio .grid{
    grid-template-columns: 240px 240px;
  }
}

@media(min-width: 880px){
  .portfolio .grid{
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 10px);
  }
}

@media(min-width: 1200px){
  .img-portfolio {
    height: auto;
    width: 100%;
  }
}

  
  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  /* @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  } */
  
  /* breakpoint */
  /* @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  } */
  
  /* breakpoint */
  /* @media (min-width: 1200px) {
    body {
      font-size: 20px;
      background-image: none;
      background-color: deeppink;
    }
  } */