@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Paleta utilizada: #F2F2F2 / #BFBFBF / #8C8C8C / #595959 / #0D0D0D */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #8C8C8C;
    background-size: auto 100vh; 
    font-family: Arial;
    height: 100vh;
}
  
.menu {
    background-color: #595959;
    font-size: 18px;
    height: 50px;
}
  
.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
  
.menu li {
    padding: 15px;
    list-style: none; 
}
  
a {
    text-decoration: none;
    color: #BFBFBF;
}
  
a:hover {
    font-weight: bolder;
    color: #F2F2F2;
}
  
.site-subtitle, 
.site-title {
    text-align: center;
    color: #0D0D0D;
}

.site-title {
    padding-top: 20px;
}
  
.site-subtitle {
   font-style: italic;
}
